DirectoryIndex index.html

Options -Indexes

<IfModule mod_rewrite.c>
RewriteEngine On

# 1. Permitir archivos reales (IMPORTANTE primero)
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# 2. Bloquear acceso a .php
RewriteCond %{THE_REQUEST} \.php [NC]
RewriteRule ^ index.html [L]

# 3. Fallback SPA
RewriteRule ^ index.html [L]
</IfModule>